html, body{
    padding: 0;
    margin: 0;
}
.contenedor{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.superior{
    height: 70vh;
    display: flex;
    width: 100vw;
}
.izquierda{
    height: 100vh;
    width: 70vw;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    
}

.C{
    height: 30vh;
    width: 70vw;
    font-size: 10px;
    background-color: aqua;
}
.D{
    height: 40vh;
    width: 70vw;
    background-color: chartreuse;
    transition: color 1s ease;
}
.D:hover{
    color: rgb(255, 255, 255);
}

.accion{
    cursor: pointer;
    background-color: darkorchid;
    transition: transform 1s ease, background-color 1s ease;
}
.accion:active{
    transform: rotate(180deg);
    background-color: blue;
}
.derecha{
    height: 70vh;
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin: 0;
    padding: 0;
}
.B{
    height: 38vh;
    width: 28vw;
    background-color: chocolate;
    border-bottom: 5px solid green;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    transition: color 0.3s linear;
}
.B:hover{
    color: aquamarine;
}
.inferior{
    height: 30vh;
    width: 100vw;
    display: flex;

}
.F{
    height: 30vh;
    width: 100vw;
    background-color: fuchsia;
}
.A{
    height: 29vh;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    padding: 1.5%;
    font-size: 10px;
    width: 30vw;
    background-color: crimson;
    box-sizing: border-box;
    transition: color 1s ease;
}
.A:hover{
    color: blue;
}

.E{
    bottom: 0;
   right: 0;
   position: fixed;
    background-color: gold;
    border-radius: 10px;
    transition: transform 0.5s ease;
}
.E:hover{
    transform: scale(1.15);
}